img {
    width: 250px;
    max-width: 250px;
    height: auto;
}

#messageBody, #reply {
    width: 480px;
    max-width: 480px;
}

#conversation td,th {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

#conversation .header {
    background-color: #d3d3d3;
}