<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="">
    <title>Registration</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>
<h1>Account</h1>
<form id="home" method="POST" action="{{url_for('home')}}">
        <button id="homebutton" type="submit" name="submit" value="home"> Go to home page </button> 
</form>
<table id="user">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Graduation Year</th>
    <th>Dorm location</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{person.username}}</td>
    <td>{{person.name}}</td>
    <td>{{person.gradYear}}</td>
    <td>{{person.dorm}}</td>
    <td>{{person.email}}</td>
  </tr>
</table>

<table id="myPosts">
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Availability</th>
    <th>Category</th>
    <th>Photo</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{post.description}}</td>
    <td>{{post.price}}</td>
    <td>{{post.availability}}</td>
    <td>{{post.category}}</td>
    <td>{{post.photo}}</td>
    <td><button class="update-button">Update post</button></td>
    <!--<td>-->
    <!--  <form method="post" action="{{url_for('updatePost'}}">-->
    <!--    <input type="hidden" name="update">-->
    <!--    <label>1 <input type="button"></label>-->
    <!--    </form>-->
    <!--</td>-->
  </tr>
  {% endfor %}
</table>


<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
