{% extends "main.html" %}
{% block htmlTop %}
    {{super()}}
{% endblock %}
<html>
    <body>
        {% block flashes %}
         {{super()}}
        {% endblock %}
        
         <!--{% block head %}Select Category{% endblock %} -->
         
         {% block content %}
            <form method="post" action="{{url_for('search')}}">
                <label for="menu-category">Search from Categories:</label> 
                <select required name="menu-category">
                    <option value="none">Choose One</option>
                    {% for category in ['food','clothing','shoes','services','utility',
            'makeup','bath/body','event','other'] %}
                        <option value={{category}}>{{category}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Choose" method="POST"/>
            </form>
         {% endblock %}
        
        {% block sale %}
        <h1>Items for Sale</h1>
        <table>
            <tr>
            <th>Contact</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Dorm</th>
            <th>Photo</th>
            
            </tr>
            {% for item in saleposts%}
            <tr id=iid value={{item.iid}}>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.category}}</td>
                <td>{{item.price}}</td>
                <td>{{item.photo}}</td>
                <td>{{item.dorm}}</td>
                <td>{{item.other}}</td>
                <td>
               <button id="userinfo" type="submit" name="submit" value="userinfo"> Send Message </button>  </td>
            </tr>
            {%endfor%}
        </table>
        
        {% endblock %}
    </body>
</html>
