<!--Yuna Gan, Kealani Finegan, Breana Dupree-Jones-->

{% block htmlTop %}
<!doctype html>
<html lang='en'>
<head>
    
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel='stylesheet' href="{{url_for('static',filename='style.css')}}">
{% endblock %}

<body>
    
        {% block css %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('home')}}">BuyMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('account',usernameInput='')}}">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('register')}}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('getSalePosts')}}">Items For Sale</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{{url_for('getBuyPosts')}}">Items Requested</a>
      </li>
      
    </ul>
    <span class="navbar-text">
    <nav class="navbar navbar-light bg-light">
       <form class="form-inline" id="login" method="POST" action="{{url_for('login')}}">
            <input id="login_username" placeholder="username" name="login_username">
            <input type="password" id="login_password" placeholder="password" name="login_password">
            <button  class="btn btn-outline-success my-2 my-sm-0" id="loginbutton" type="submit" name="submit" value="login" aria-label="Login"> Log In </button> 
    </form>
    </nav>
    </span> 
    
    </div>
    </nav>
    {% endblock %}
    <title>BuyMe</title>
     <div id="flashes">{% block flashes %}
   {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        </div>
        {% endif %} {% endwith %} {% endblock %}
    </div>
{% block buttons %}
<!--<p>Logged in as: {{username}}</p>-->
<div class="btn-group justify-content-between">
    <form class="form-inline" id="search" method="POST" action="{{url_for('stringSearch')}}">
        <input class="form-control mr-sm-2" id="searchterm" 
        placeholder="Search posts" name="searchterm" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="searchbutton"
        type="submit" name="submit" value="Search"> Search </button> 
    </form>
    
    <form id="logout" method="POST" action="{{url_for('logout')}}">
        <button id="logoutButton" type="submit"> Log Out </button> 
    </form>
    
    <form id="account" method="GET" action="{{url_for('uploadPost')}}">
        <button id="upload" type="submit" name="submit" value="upload"> Upload Item </button> 
    </form>
</div>
{% endblock %}

 {% block content %}
            <form method="post" action="{{url_for('getSalePosts')}}">
                <label for="menu-category">Search from Categories (items for sale):</label> 
                <select required name="menu-category">
                    <option value="none">Choose One</option>
                    {% for category in ['food','clothing','shoes','services','utility',
            'makeup','textbooks','bath-body','event','other'] %}
                        <option value={{category}}>{{category}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Choose" method="POST"/>
            </form>
            <br>
            <form method="post" action="{{url_for('getBuyPosts')}}">
                <label for="menu-category">Search from Categories (items requested):</label> 
                <select required name="menu-category">
                    <option value="none">Choose One</option>
                    {% for category in ['food','clothing','shoes','services','utility',
            'makeup','textbooks','bath-body','event','other'] %}
                        <option value={{category}}>{{category}}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submit" value="Choose" method="POST"/>
            </form>
{% endblock %}

{% block head %} <h1>Items for Sale</h1> {% endblock %}
{% block sale %}

    <div class="table responsive" id="sposts">

        <table class="table table-hover" id="posts-list">
            <thead class="thead-light">
            <tr>
                <th>Contact</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Other</th>
                <th>Photo</th>
                <th>Message</th>
            </tr>
            </thead>
            
            {% for post in posts %}

            <tr id = "post" data-iid="{{post.iid}}" data-uid="{{post.uid}}">
                <td class="name"><a href="{{url_for('account',usernameInput=post.username)}}">{{post.name}}</td>
                <td class="description">{{post.description}}</td>
                <td class="price">${{post.price}}</td>
                <td class="category">{{post.category}}</td>
                <td class="other">{{post.other}}</td>
                <td class="photo"><img src="{{url_for('blob',iid=post.iid)}}"></td>
                {% if currentUser != None and currentUser != post.username %}
                <td><button type="button" class="messageUser">Message user</button></td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    
        <div id="messageUserDialog" title="Message User">
            <form id="messageToUser" method='POST'>
                <input type="hidden" name="uid" id="uid" value="">
                <input type="hidden" name="iid" id="iid" value="">
                <p><label><textarea id="messageBody" rows="4" cols="50" maxlength="200" name="messageBody"></textarea></label></p>
                <p><button type="button" id="messageButton">Send Message</button></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script>
/*global $*/

/* sanitize input strings from xss attacks by escaping special characters */
function sanitize(string) {
  const map = {
      '&': '&amp;',
      '<': '&lt;',
      '>': '&gt;',
      '"': '&quot;',
      "'": '&#x27;',
      "/": '&#x2F;',
  };
  const reg = /[&<>"'/]/ig;
  return string.replace(reg, (match)=>(map[match]));
}

/*
  Displays a textbox for user to enter in a message to send to another user
  row's iid and uid info is retrieved and sent to the backend to determine
  item info
*/
$('#posts-list').on('click','.messageUser',function(event){
    var postUID = $(this).closest('tr').data('uid');
    var postIID = $(this).closest('tr').data('iid');
    $.post("{{url_for('getUserItemInfo')}}",
        {'uid':postUID,'iid':postIID},
        fillDialogTitle)
    $("#messageUserDialog").dialog("open");
})

/*
  Fills the dialog title with information about post's poster and post item 
  description
  Adds post uid and iid to the hidden inputs to be retrieved when the message is
  sent
*/
function fillDialogTitle(obj) {
    $('#uid').val(obj['uid']);
    $('#iid').val(obj['iid']);
    $("#messageUserDialog").dialog('option','title', 
                                    'Message ' + obj['username'] + ' about '
                                            + obj['description']);
}

/*
  Executed when user wants to send the message.
  Post's uid and iid are retrieved along with message (which is then sanitized)
  and sent to the backend to insert message into the database.
*/
$('#messageButton').click(function(){
  var uid = $('#uid').val();
  var iid = $('#iid').val();
  var description = sanitize($('#messageBody').val());
  $.post("{{url_for('messageUser')}}",
        {'uid':uid,'iid':iid,'description':description}, 
        alertMessageSent);
})

/*
  Close the dialog and alert user if the message was successfully sent.
  Otherwise, keep dialog open and alert otherwise.
*/
function alertMessageSent(obj) {
    if (obj['last_insert_id()']) {
        $('#messageUserDialog').dialog('close');
        alert('Message sent successfully');
    } else {
        alert ('Message not sent. Please try again.')
    }
}

/* 
  Hides the message dialog form when the page initially loads and set how they 
  will show and hide.
*/
$(document).ready(function () {
    $(function () {
        $("#messageUserDialog").dialog({

            autoOpen: false,
            modal: true,
            width: 600,
            show: {
                effect: "blind",
                duration: 500
            },
            hide: {
                effect: "drop",
                duration: 500
            }
        });
    });
});
</script>


</body>
</html>
