{% extends "main.html" %}
<body>
            
{% block buttons %}
<head>
    <meta charset='utf-8'>
    <meta name=author content="">
    <title>Registration</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>
{% endblock %}

{% block content %}

{% endblock %}
{% block head %}
{% endblock %}

{% block sale %}
<form id="joinform" action="{{url_for('register')}}" method="post">
    <h1>Join</h1>
    <p><label><input type="text" name="username" required pattern="^\w+$"> Username</label></p>
    <p><label><input type="text" name="name"> Name</label></p>
    <p><label><select name="gradYear">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
    </select> Graduation Year</label></p>
    <p><label><input type="email" name="email"> Email</label></p>
    <p><label><input type="text" name="dorm"> Dorm Location</label></p>
    <p><label><input type="password" name="password1" required> Password </label></p>
    <p><label><input type="password" name="password2" required> Password again </label></p>
    <p><button type="submit2">Submit</button></p>
</form>

<script src="https://code.jquery.com/jquery.js"></script>
{% endblock %}
</body>
</html>
